.article {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 900px;
    height: 300px;
    resize: both;
}

#dialogv5ed3679927243_complement {
    width: 400px;
}

#dialogv5ed3679927243_range {
    width: 400px;
}

.header2 cid-sbzaQsdudd mbr-fullscreen mbr-parallax-background {
    height: 200px;
    resize: both;
}