.article {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 900px;
    height: 300px;
    resize: both;
}

.j4g8o1 {
    background-color: transparent;
    width: 400px;
}

.j4g8o2 {
    background-color: transparent;
    width: 200px;
}

#dialogv5ed3679927243_representation {
    width: 400px;
}

#dialogv5ed3679927243_n {
    width: 400px;
}