.article {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 900px;
    height: 300px;
    resize: both;
}

.j4g8o1 {
    background-color: transparent;
    width: 200px;
}

.j4g8o2 {
    background-color: transparent;
    width: 200px;
}

.j4g8o3 {
    background-color: transparent;
    width: 200px;
}

.j4g8o4 {
    background-color: transparent;
    width: 200px;
}

#dialogv5ed3679927243_complement {
    width: 200px;
}

#dialogv5ed3679927243_range {
    width: 200px;
}